###############
# Intellij IDEA
###############
*.iml
.idea/

#######
# Maven
#######
target/
.mvn/

######
# Java
######
*.class
*.war
*.ear
# virtual machine crash logs
hs_err_pid*

#########
# Eclipse
#########
.classpath
.settings/
.project

#########
# Others
#########
*.orig
*.original
*.eclipse-pmd
*.stackdump
*.old
logs/
log/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
