sudo: false
language: java

jdk:
  - openjdk8

branches:
  only:
    - master

cache:
  directories:
    - $HOME/.m2

# Overrides travis 'install' step.
# This installs dependencies.
install:
  - java -version
  - mvn --version
  - mvn --batch-mode clean compile -P java8,local,eventbus-local -DskipTests=true

# overrides travis 'script' step
script:
  - mvn --batch-mode clean package -P java8,local,eventbus-local -DskipTests=true

after_success:
  # using environment variable $repo_token set in travis web site
  - mvn clean test -P java8,local,eventbus-local jacoco:report coveralls:report -DrepoToken=$repo_token

notifications:
  email:
    on_success: never
    on_failure: always