<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration debug="false" scan="false">

	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />
	
	<property name="do.console.ouput" value="${logger.console.ouput}" />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{ISO8601} %-5level [%t] %X{uid} %c{0}: %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Override NextRTC Signaling Server log level (for debugging purposes) -->
	<logger name="org.nextrtc.signalingserver" level="INFO" />
	
	<!-- level: TRACE < DEBUG < INFO < WARN < ERROR -->
	<root level="INFO">
		<if condition='property("do.console.ouput").equalsIgnoreCase("true")'>
			<then>
				<appender-ref ref="STDOUT"/>
			</then>
		</if>
	</root>

</configuration>