# Ignore folders inside target folder to avoid sending them into Docker daemon
antrun
classes
generated-sources
generated-test-sources
m2e-wtp
maven-archiver
maven-status
protoc-dependencies
protoc-plugins
surefire-reports
test-classes
jacoco*

# folders and files related to this project
signaling
signaling.jar
signaling.war
*.original
spring-boot-graal-feature
graal-build