# Ignore folders inside target folder to avoid sending them into Docker daemon
antrun
cargo*
classes
failsafe-reports
generated-sources
generated-test-sources
logs
m2e-wtp
maven-archiver
maven-status
native-config
original*.jar
original*.war
proguard_map.txt
proguard_seed.txt
*_proguard_base.*
protoc-dependencies
protoc-plugins
site
surefire-reports
SVM*
test-classes
jacoco*

# folders and files related to this project
signaling
signaling.jar
signaling.war
signaling_*.jar
signaling_*.war
*.original
spring-boot-graal-feature
spring-native
graal-build
jdeps-workdir
